body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('C:\Users\kaver\Desktop\k.jpg') no-repeat center;
    background-size: cover;
  }
  
  .container {
    background-color: rgba(204, 248, 8, 0.955);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(250, 247, 247, 0.935);
    max-width: 400px;
    width: 100%;
  }